
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form  method="post">
                   
                    <input type="text" class="form-control"  placeholder="Key" name="@nameof(Generics.Db.SiteMetaDto.KEY)" />
                   
                    <br />
                    <input type="text" class="form-control" placeholder="Value"  name="@nameof(Generics.Db.SiteMetaDto.VALUE)"  />
                    <br />
                    <button type="submit" class="btn btn-primary">
                       Create
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>